*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#080808;
color:white;
}

header{
background:#111;
padding:20px;
text-align:center;
}

header h1{
color:#00ff88;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:50px;
}

.gallery img{
width:100%;
height:250px;
object-fit:cover;
border-radius:15px;
border:2px solid #00ff88;
}

nav{
margin-top:15px;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
font-weight:bold;
}

nav a:hover{
color:#00ff88;
}


.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8)),
url("gaming.jpg");

background-size:cover;
}


.hero h2{
font-size:45px;
color:#00ff88;
}


.hero p{
font-size:22px;
margin:20px;
}


.btn{
background:#00ff88;
color:black;
padding:15px 30px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
}


.cards{
display:flex;
justify-content:center;
gap:30px;
padding:50px;
}


.cards div{
background:#151515;
padding:30px;
border-radius:15px;
width:300px;
text-align:center;
border:1px solid #00ff88;
}


footer{
text-align:center;
padding:20px;
background:#111;
}
